@import "./player";
@import "./song";
@import "./library";
@import "./nav";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    color: rgb(56, 56, 56);
}

body{
    font-family: "Lato", sans-serif;
}

h3, h4{
    font-weight: 400;
    color: rgb(123, 123, 123);
}

.App{
    transition: all .5s ease;
}

.library-active{
    margin-left: 30%;
}